li{
    list-style: none;
    font-size: 40px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
li a{
    text-decoration: none;
    background-color: red;
  
}
ol{
    text-align: center;
}